In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

sns.set_theme(style="darkgrid")

In [2]:
df = pd.read_csv('C:\\Asus WebStorage\\psabin@gmail.com\\MySyncFolder\\Data Science Course\\Used CSVs\\CSB_2021-2023_All.csv')
display(df.head())

C:\Users\psabi\AppData\Local\Temp\ipykernel_17484\999932228.py:1: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('C:\\Asus WebStorage\\psabin@gmail.com\\MySyncFolder\\Data Science Course\\Used CSVs\\CSB_2021-2023_All.csv')

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,5CB9DFCECF79AF84,classic_bike,2021-01-01 00:08:33,2021-01-01 00:33:53,Maine Ave & 9th St SW,31646.0,Rosslyn Metro / Wilson Blvd & Ft Myer Dr,31015.0,38.880440,-77.025236,38.894600,-77.072305,member
1,629E059504606547,electric_bike,2021-01-01 00:13:43,2021-01-01 00:29:34,10th & U St NW,31111.0,NaN,NaN,38.917193,-77.025894,38.960000,-77.020000,casual
2,E74069873161EE33,electric_bike,2021-01-01 00:14:32,2021-01-01 00:28:45,17th & Corcoran St NW,31214.0,14th & Belmont St NW,31119.0,38.912138,-77.038568,38.920870,-77.031691,member
3,91F95E512CABC46A,classic_bike,2021-01-01 00:15:45,2021-01-01 00:21:20,Wilson Blvd. & N. Vermont St.,31926.0,Wilson Blvd. & N. Vermont St.,31926.0,38.879477,-77.114563,38.879477,-77.114563,member
4,DA46A05139C0EA2F,classic_bike,2021-01-01 00:17:46,2021-01-01 00:21:00,11th & Park Rd NW,31651.0,14th & Newton St NW,31649.0,38.931322,-77.028247,38.931991,-77.032956,member

In [3]:
df['started_at'] = pd.to_datetime(df['started_at'])
df['ended_at'] = pd.to_datetime(df['ended_at'])
display(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8180626 entries, 0 to 8180625
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 811.4+ MB

None

In [4]:
display(df['rideable_type'].value_counts())

rideable_type
classic_bike     6157609
electric_bike    1521056
docked_bike       501961
Name: count, dtype: int64

In [5]:
docked_bike_mask = df['rideable_type'] == 'docked_bike'

In [6]:
display(df.sample(50))

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
7591902,8CBA3CB1E40270E4,classic_bike,2023-05-20 18:26:01,2023-05-20 18:31:54,20th & E St NW,31204.0,20th & L St NW,31250.0,38.896300,-77.045000,38.903584,-77.044789,casual
3614455,EA15AF8C14A0A9D7,classic_bike,2022-05-04 15:02:26,2022-05-04 15:14:44,4th & D St NW / Judiciary Square,31621.0,D St & Maryland Ave NE,31612.0,38.895344,-77.016106,38.894841,-76.995916,member
3602284,4301212D220EAC5D,classic_bike,2022-05-03 13:33:42,2022-05-03 13:39:44,New Jersey Ave & K St NW,31642.0,1st & M St NE,31603.0,38.902571,-77.013667,38.905697,-77.005483,member
4253982,5BEA964D55F2F293,electric_bike,2022-06-27 15:39:30,2022-06-27 15:44:23,Thomas Circle,31241.0,Connecticut Ave & R St NW,31299.0,38.905872,-77.032573,38.912644,-77.045640,casual
7647771,8F663F7E44EE29F9,classic_bike,2023-05-24 17:48:07,2023-05-24 18:02:45,Eckington Pl & Q St NE,31505.0,11th & Girard St NW,31126.0,38.910972,-77.004950,38.925636,-77.027112,member
3907247,E99F54A652968E5D,classic_bike,2022-05-31 17:46:31,2022-05-31 18:13:25,11th & C St SE,31659.0,11th & C St SE,31659.0,38.885908,-76.991476,38.885908,-76.991476,member
921387,EE074B61147DD5DC,classic_bike,2021-06-13 06:31:31,2021-06-13 06:36:49,Rhode Island & Montana Ave NE,31526.0,Rhode Island Ave Metro,31516.0,38.924300,-76.985900,38.920682,-76.995876,casual
378198,A33F2E9FA31D1DB6,classic_bike,2021-04-04 17:17:31,2021-04-04 18:40:30,Hains Point/Buckeye & Ohio Dr SW,31273.0,Hains Point/Buckeye & Ohio Dr SW,31273.0,38.878433,-77.030230,38.878433,-77.030230,casual
5201015,D1B05BA3E034DF01,classic_bike,2022-09-11 12:52:48,2022-09-11 12:58:59,17th & P St NW,31330.0,21st & I St NW,31205.0,38.909858,-77.038566,38.900711,-77.046449,member
38061,636106B41F1ECC2C,classic_bike,2021-01-12 20:01:14,2021-01-12 20:08:09,Columbia & Ontario Rd NW,31296.0,16th & R St NW,31282.0,38.924088,-77.040787,38.912652,-77.036278,member
6278610,3009C168C10A7E00,classic_bike,2023-01-08 03:13:18,2023-01-08 03:26:22,Tanner Park,31533.0,4th & East Capitol St NE,31618.0,38.911214,-77.002257,38.889955,-77.000349,casual
3635465,9D227E4B96EC70EF,classic_bike,2022-05-06 18:21:00,2022-05-06 18:29:41,Park Run & Onyx Dr,32229.0,Tysons Corner Station,32204.0,38.927550,-77.226644,38.920939,-77.222115,casual
5064026,DDBAA4E35CA72349,classic_bike,2022-08-31 13:48:32,2022-08-31 14:07:36,1st & M St NE,31603.0,19th & G St NW,31279.0,38.905697,-77.005483,38.898412,-77.043182,member
3606555,324733DEF845FB22,classic_bike,2022-05-03 18:22:15,2022-05-03 18:50:45,Gravelly Point,31064.0,S Arlington Mill Dr & Campbell Ave,31060.0,38.865029,-77.039511,38.842320,-77.089555,member
6268813,E8DA496CB1F36812,classic_bike,2023-01-06 17:06:13,2023-01-06 17:17:12,California St & Florida Ave NW,31116.0,23rd & M St NW,31128.0,38.917761,-77.040620,38.905303,-77.050264,casual
3948825,99A4714DEA740E08,electric_bike,2022-06-04 11:46:00,2022-06-04 12:13:08,NaN,NaN,NaN,NaN,38.900000,-77.030000,38.900000,-77.030000,casual
5816109,8741DD34CE97BF47,classic_bike,2022-11-03 08:28:29,2022-11-03 08:33:38,18th & R St NW,31278.0,19th & K St NW,31253.0,38.912648,-77.041834,38.902204,-77.043370,member
795422,AFEE58DA6AAFBAEB,classic_bike,2021-05-28 15:35:25,2021-05-28 15:42:01,18th St & Wyoming Ave NW,31114.0,17th St & Massachusetts Ave NW,31267.0,38.918809,-77.041571,38.908142,-77.038359,member
781284,25F34F2E1686B041,electric_bike,2021-05-26 19:34:00,2021-05-26 19:46:07,NaN,NaN,7th St & Massachusetts Ave NE,31647.0,38.910000,-77.020000,38.892338,-76.996128,member
121570,82335F6C730DA8F7,classic_bike,2021-02-08 15:23:20,2021-02-08 15:45:14,Georgia Ave & Kennedy St NW,31415.0,Georgia Ave & Kennedy St NW,31415.0,38.956740,-77.027910,38.956740,-77.027910,casual
1248468,C2E70890B8E296AD,classic_bike,2021-07-16 07:49:37,2021-07-16 08:05:25,Wilson Blvd & N Quincy St,31039.0,Four Mile Run Dr & S Walter Reed Dr,31059.0,38.880012,-77.107854,38.847360,-77.095431,member
5609739,0F38D89499DB4D64,electric_bike,2022-10-15 17:56:07,2022-10-15 18:11:04,NaN,NaN,NaN,NaN,38.900000,-77.010000,38.930000,-77.020000,casual
1265477,A0FEB3A5E1FD0A2D,classic_bike,2021-07-17 16:28:03,2021-07-17 16:32:43,Florida Ave & R St NW,31503.0,7th & R St NW / Shaw Library,31245.0,38.912600,-77.013500,38.912719,-77.022155,casual
5268111,944CC359C5376BE7,electric_bike,2022-09-16 16:47:19,2022-09-16 17:10:09,West Hyattsville Metro,32418.0,NaN,NaN,38.955240,-76.968035,38.960000,-76.970000,casual
7910096,4C203C0C8A6EDB54,classic_bike,2023-06-11 17:18:51,2023-06-11 17:23:10,4th & C St SW,31243.0,4th & G St SW,31666.0,38.886372,-77.017701,38.881117,-77.017699,member
6450371,42D0F14DBA374286,electric_bike,2023-02-04 12:36:38,2023-02-04 12:42:22,NaN,NaN,NaN,NaN,38.960000,-77.000000,38.960000,-77.010000,member
6615833,66CF761B1B945782,classic_bike,2023-02-26 00:01:24,2023-02-26 00:25:23,17th St & Massachusetts Ave NW,31267.0,Adams Mill & Columbia Rd NW,31104.0,38.908142,-77.038359,38.922849,-77.042525,casual
5714086,AD229294D376E31F,classic_bike,2022-10-25 00:30:14,2022-10-25 00:34:30,10th & K St NW,31263.0,7th & F St NW / National Portrait Gallery,31232.0,38.902400,-77.026220,38.897283,-77.022191,member
7265929,0E417D13C7FB8621,classic_bike,2023-04-25 21:48:20,2023-04-25 22:00:22,Thomas Circle,31241.0,M St & Pennsylvania Ave NW,31246.0,38.905900,-77.032500,38.905126,-77.056887,member
7312195,C2BB997E6BAB356C,electric_bike,2023-04-30 00:03:50,2023-04-30 00:10:37,S Kenmore St & 24th St S,31061.0,28th St & S Meade St,31055.0,38.848509,-77.084900,38.846222,-77.069275,casual
8151881,0C95489AEE7970A4,docked_bike,2023-06-28 20:34:05,2023-06-28 21:31:01,Crystal City Metro / 18th St & S Bell St,31007.0,Madison St & Fairfax St,31918.0,38.857785,-77.051698,38.812351,-77.040691,casual
3165352,978ADA0915C3E98E,docked_bike,2022-03-20 10:55:04,2022-03-20 11:48:52,21st St & G st NW,31328.0,Smithsonian-National Mall / Jefferson Dr & 12t...,31248.0,38.898302,-77.046913,38.888774,-77.028694,casual
6074546,75DA315EFAC77B2C,classic_bike,2022-12-03 19:44:55,2022-12-03 19:51:21,New Hampshire Ave & T St NW,31229.0,8th & O St NW,31281.0,38.915544,-77.038252,38.908640,-77.022770,member
2535800,9F0FB54786BD5D8B,classic_bike,2021-11-27 01:19:49,2021-11-27 01:25:39,4th & Florida Ave NE,31532.0,6th & H St NE,31615.0,38.907316,-77.000698,38.899972,-76.998347,member
3426269,76DD7E660CCB451E,classic_bike,2022-04-16 17:21:09,2022-04-16 17:25:47,Potomac Greens Dr & Slaters Ln,31083.0,Braddock Rd Metro North,31047.0,38.821750,-77.047494,38.814577,-77.052808,member
4462007,61F74CC1C76443ED,electric_bike,2022-07-13 16:58:28,2022-07-13 17:23:44,12th & U St NW,31268.0,NaN,NaN,38.916671,-77.028004,38.890000,-77.000000,casual
98999,2F15A49B504A9721,classic_bike,2021-01-30 23:17:58,2021-01-31 00:07:28,4th St & Madison Dr NW,31288.0,4th St & Madison Dr NW,31288.0,38.890496,-77.017246,38.890496,-77.017246,casual
3997595,11F382B0AEBF1A79,classic_bike,2022-06-08 08:00:48,2022-06-08 08:12:54,11th & M St NW,31266.0,New Hampshire Ave & Ward Pl NW,31212.0,38.905578,-77.027313,38.905711,-77.047318,member
252167,5104440A515DDB30,electric_bike,2021-03-15 17:53:07,2021-03-15 17:59:08,13th & U St NW,31132.0,NaN,NaN,38.916746,-77.029725,38.910000,-77.030000,casual
4262898,7FD946985AFA6D07,classic_bike,2022-06-28 09:00:24,2022-06-28 09:13:02,Lyttonsville Rd & Lyttonsville Pl,32054.0,Silver Spring Metro / Colesville Rd & Wayne Ave,32012.0,38.999679,-77.051168,38.995256,-77.029124,member
4239453,627EBDA3344C4270,classic_bike,2022-06-26 10:28:28,2022-06-26 10:40:56,18th & C St NW,31284.0,Henry Bacon Dr & Lincoln Memorial Circle NW,31289.0,38.893511,-77.041544,38.890539,-77.049383,casual
5927537,06437F01B2A1EBC9,classic_bike,2022-11-12 16:54:28,2022-11-12 17:01:08,15th & W St NW,31125.0,Connecticut Ave & R St NW,31299.0,38.919018,-77.034449,38.912644,-77.045640,member
3423220,FFD9900853253BB8,electric_bike,2022-04-16 15:05:45,2022-04-16 15:20:48,NaN,NaN,Army Navy Dr & S Nash St,31095.0,38.860000,-77.060000,38.862150,-77.068121,casual
5277336,1C0455CB7426C0DE,docked_bike,2022-09-17 10:29:54,2022-09-18 22:51:11,Roosevelt Island,31062.0,NaN,NaN,38.896553,-77.067140,NaN,NaN,casual
5671167,EAB1C692A93A86F0,classic_bike,2022-10-21 11:21:06,2022-10-21 11:35:46,14th St & Spring Rd NW,31401.0,17th & P St NW,31330.0,38.937500,-77.032800,38.909858,-77.038566,member
5073143,30EE519095D0EDA7,classic_bike,2022-09-01 07:37:08,2022-09-01 07:51:22,Florida Ave & R St NW,31503.0,18th & M St NW,31221.0,38.912600,-77.013500,38.905067,-77.041779,member
2207735,8EE6CB7050636079,classic_bike,2021-10-21 13:32:32,2021-10-21 13:38:01,Potomac Ave & 35th St S,31052.0,Crystal Dr & 20th St S,31002.0,38.844015,-77.050537,38.856425,-77.049232,member
3083079,5DB2A92F3DA212B4,electric_bike,2022-03-10 15:04:39,2022-03-10 15:13:43,M St & New Jersey Ave SE,31208.0,Potomac & Pennsylvania Ave SE,31606.0,38.876340,-77.003705,38.880300,-76.986200,casual
4695250,CE061BBAC82BDC52,electric_bike,2022-08-01 07:16:54,2022-08-01 07:24:12,Columbia Rd & Georgia Ave NW,31115.0,NaN,NaN,38.928133,-77.023721,38.900000,-77.020000,member
5007123,F3C6E05BBC7B0172,classic_bike,2022-08-26 18:04:02,2022-08-26 18:26:27,19th & K St NW,31253.0,Lincoln Rd & Seaton Pl NE/Harry Thomas Rec Center,31523.0,38.902204,-77.043370,38.915000,-77.007800,member

In [7]:
display(df[docked_bike_mask]['member_casual'].value_counts())

member_casual
casual    501957
member         4
Name: count, dtype: int64

In [8]:
display(df[docked_bike_mask].groupby('member_casual').head())
display(df[docked_bike_mask].groupby('member_casual').tail())

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
8,CB36F43FA77E4A35,docked_bike,2021-01-01 00:21:19,2021-01-01 00:33:31,15th & F St NE,31632.0,1st & M St SE,31650.0,38.897195,-76.983575,38.876893,-77.006072,casual
18,6B4631D4B1BCB9BB,docked_bike,2021-01-01 00:26:51,2021-01-01 00:47:48,Henry Bacon Dr & Lincoln Memorial Circle NW,31289.0,14th St & New York Ave NW,31216.0,38.890539,-77.049383,38.899632,-77.031686,casual
35,137C9E0ED6C16841,docked_bike,2021-01-01 00:47:55,2021-01-01 03:04:53,12th & L St NW,31251.0,7th & K St NW,31653.0,38.903819,-77.028400,38.902674,-77.021392,casual
44,31584A6CEEE83CB7,docked_bike,2021-01-01 00:59:41,2021-01-01 01:27:52,Thomas Circle,31241.0,Thomas Circle,31241.0,38.905900,-77.032500,38.905900,-77.032500,casual
45,7779B21BCBA77791,docked_bike,2021-01-01 00:59:44,2021-01-01 01:27:55,Thomas Circle,31241.0,Thomas Circle,31241.0,38.905900,-77.032500,38.905900,-77.032500,casual
1634,1FC984904B2E5164,docked_bike,2021-01-02 11:04:45,2021-01-02 11:04:48,Chillum Rd & Riggs Rd / Riggs Plaza,32416.0,Chillum Rd & Riggs Rd / Riggs Plaza,32416.0,38.961737,-76.995922,38.961737,-76.995922,member
39225,B814E0BA24860ED2,docked_bike,2021-01-13 11:02:24,2021-01-13 11:07:14,11th & O St NW,31286.0,New York Ave & 15th St NW,31222.0,38.908430,-77.027140,38.899032,-77.033354,member
133129,76C50D7330BD4ECA,docked_bike,2021-02-12 17:04:26,2021-02-12 17:12:10,MTL-ECO5-03,MTL-ECO5-03,MTL-ECO5-03,MTL-ECO5-03,NaN,NaN,NaN,NaN,member
143000,E1808D56BF23C00F,docked_bike,2021-02-17 00:54:05,2021-02-17 00:54:17,MTL-ECO5-03,MTL-ECO5-03,MTL-ECO5-03,MTL-ECO5-03,NaN,NaN,NaN,NaN,member

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
1634,1FC984904B2E5164,docked_bike,2021-01-02 11:04:45,2021-01-02 11:04:48,Chillum Rd & Riggs Rd / Riggs Plaza,32416.0,Chillum Rd & Riggs Rd / Riggs Plaza,32416.0,38.961737,-76.995922,38.961737,-76.995922,member
39225,B814E0BA24860ED2,docked_bike,2021-01-13 11:02:24,2021-01-13 11:07:14,11th & O St NW,31286.0,New York Ave & 15th St NW,31222.0,38.908430,-77.027140,38.899032,-77.033354,member
133129,76C50D7330BD4ECA,docked_bike,2021-02-12 17:04:26,2021-02-12 17:12:10,MTL-ECO5-03,MTL-ECO5-03,MTL-ECO5-03,MTL-ECO5-03,NaN,NaN,NaN,NaN,member
143000,E1808D56BF23C00F,docked_bike,2021-02-17 00:54:05,2021-02-17 00:54:17,MTL-ECO5-03,MTL-ECO5-03,MTL-ECO5-03,MTL-ECO5-03,NaN,NaN,NaN,NaN,member
8180480,6411F0FBB87E42CE,docked_bike,2023-06-30 23:36:47,2023-07-01 00:06:22,22nd & H St NW,31127.0,13th & U St NW,31132.0,38.898925,-77.048852,38.916936,-77.029631,casual
8180481,1B12EF12880E2C56,docked_bike,2023-06-30 23:36:49,2023-07-01 00:06:34,22nd & H St NW,31127.0,13th & U St NW,31132.0,38.898925,-77.048852,38.916936,-77.029631,casual
8180546,CCADEE3204FE3E4E,docked_bike,2023-06-30 23:46:19,2023-07-01 00:02:20,21st St & G st NW,31328.0,California St & Florida Ave NW,31116.0,38.898302,-77.046913,38.917761,-77.040620,casual
8180588,2658F1DB922A1232,docked_bike,2023-06-30 23:51:56,2023-07-01 00:18:27,Fleet St & Waterfront St,32406.0,Fleet St & Waterfront St,32406.0,38.782633,-77.016059,38.782633,-77.016059,casual
8180589,66C96175022E3610,docked_bike,2023-06-30 23:52:01,2023-07-01 00:18:01,Fleet St & Waterfront St,32406.0,Fleet St & Waterfront St,32406.0,38.782633,-77.016059,38.782633,-77.016059,casual

In [9]:
classic_mask = df['rideable_type'] == 'classic_bike'
classic = df[classic_mask].copy()
display(classic.info())

<class 'pandas.core.frame.DataFrame'>
Index: 6157609 entries, 0 to 8180625
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 657.7+ MB

None

In [10]:
classic.drop(['rideable_type'], axis=1, inplace=True)
display(classic.head())

,ride_id,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,5CB9DFCECF79AF84,2021-01-01 00:08:33,2021-01-01 00:33:53,Maine Ave & 9th St SW,31646.0,Rosslyn Metro / Wilson Blvd & Ft Myer Dr,31015.0,38.880440,-77.025236,38.894600,-77.072305,member
3,91F95E512CABC46A,2021-01-01 00:15:45,2021-01-01 00:21:20,Wilson Blvd. & N. Vermont St.,31926.0,Wilson Blvd. & N. Vermont St.,31926.0,38.879477,-77.114563,38.879477,-77.114563,member
4,DA46A05139C0EA2F,2021-01-01 00:17:46,2021-01-01 00:21:00,11th & Park Rd NW,31651.0,14th & Newton St NW,31649.0,38.931322,-77.028247,38.931991,-77.032956,member
6,0535306B61EF92F9,2021-01-01 00:19:06,2021-01-01 00:36:28,Bladensburg Rd & Benning Rd NE,31617.0,Good Hope Rd & MLK Ave SE,31802.0,38.900413,-76.982872,38.867373,-76.988039,casual
9,874D92427D41BC30,2021-01-01 00:21:39,2021-01-01 00:31:07,14th & Otis Pl NW,31131.0,14th & R St NW,31202.0,38.934405,-77.032687,38.913046,-77.032008,member

In [11]:
electric_bike_mask = df['rideable_type'] == 'electric_bike'
station_value_counts_electic = df[electric_bike_mask]['start_station_id'].value_counts()

In [12]:
endstation_value_counts_electric = df[electric_bike_mask]['end_station_id'].value_counts()

In [ ]:
classic['weekend'] = classic['started_at'].dt.dayofweek >= 5

In [16]:
# Assuming 'start_time' is your datetime column:
classic['morning'] = classic['started_at'].dt.hour.between(1, 13)

In [ ]:
display(classic.sample(20))

In [19]:
endstation_value_counts = classic['end_station_name'].value_counts()
display(endstation_value_counts.head(50))

end_station_name
New Hampshire Ave & T St NW                              72098
15th & P St NW                                           68783
Columbus Circle / Union Station                          66962
1st & M St NE                                            60135
Lincoln Memorial                                         53400
Massachusetts Ave & Dupont Circle NW                     53196
5th & K St NW                                            53147
14th & V St NW                                           51468
Jefferson Dr & 14th St SW                                50654
4th St & Madison Dr NW                                   50056
Eastern Market Metro / Pennsylvania Ave & 8th St SE      49880
14th & R St NW                                           47207
8th & O St NW                                            46682
17th & Corcoran St NW                                    45917
Smithsonian-National Mall / Jefferson Dr & 12th St SW    44749
15th & W St NW                                           44600
11th & M St NW                                           44596
Henry Bacon Dr & Lincoln Memorial Circle NW              44070
4th & M St SW                                            42859
6th & H St NE                                            42710
3rd & M St NE                                            41464
New Hampshire Ave & Ward Pl NW                           41375
23rd & M St NW                                           40222
Thomas Circle                                            39979
14th & Rhode Island Ave NW                               39247
8th & H St NW                                            37919
7th & F St NW / National Portrait Gallery                37715
M St & Pennsylvania Ave NW                               37419
5th St & Massachusetts Ave NW                            35930
18th & New Hampshire Ave NW                              35577
7th & K St NW                                            35214
New Jersey Ave & F St NW                                 34701
California St & Florida Ave NW                           34683
Maine Ave & 7th St SW                                    33829
Maine Ave & 9th St SW                                    33400
Jefferson Memorial                                       32834
17th St & Massachusetts Ave NW                           32599
Metro Center / 12th & G St NW                            32298
15th St & Constitution Ave NW                            32243
18th St & Wyoming Ave NW                                 31943
25th St & Pennsylvania Ave NW                            31922
3rd & H St NE                                            31801
20th & O St NW / Dupont South                            31790
17th & K St NW                                           31521
18th & R St NW                                           31231
1st & K St NE                                            30822
New Hampshire Ave & 24th St NW                           30773
22nd & I St NW / Foggy Bottom                            30771
Eckington Pl & Q St NE                                   30666
21st & I St NW                                           30567
Name: count, dtype: int64

In [20]:
# Count the start stations
startstation_value_counts = classic['start_station_name'].value_counts()

# Count the end stations (already done in your case)
# endstation_value_counts = classic['end_station_name'].value_counts()

# Calculate the net total for each station
# Subtracting the Series will align on the index automatically
net_total = startstation_value_counts.subtract(endstation_value_counts, fill_value=0)

# net_total now contains the net total for each station.
# If a station name doesn't exist in one of the Series, it assumes a count of 0 for subtraction
display(net_total.head(20))

10th & E St NW                             -3336.0
10th & Florida Ave NW                        221.0
10th & G St NW                             -5159.0
10th & H St NE                              -465.0
10th & K St NW                                35.0
10th & Monroe St NE                         1289.0
10th & Quincy St NE / Turkey Thicket Rec      -6.0
10th & Rhode Island Ave NE                    -1.0
10th & U St NW                                25.0
10th St & Constitution Ave NW              -2699.0
10th St & Florida Ave NW                     374.0
10th St & L'Enfant Plaza SW                 -477.0
10th St & Rhode Island Ave NE                  9.0
10th St & Spring Rd NW                       220.0
11th & C St SE                               126.0
11th & Clifton St NW                        1219.0
11th & F St NW                             -2508.0
11th & Girard St NW                         4482.0
11th & H St NE                               -63.0
11th & Kenyon St NW                         9310.0
Name: count, dtype: float64

In [21]:
# Convert the net_total Series to a DataFrame and name the column 'net_total'
stations = net_total.to_frame(name='net_total')

# Transform station names from the index to a column
stations.reset_index(inplace=True)

# Rename the 'index' column to 'station_name' for clarity
stations.rename(columns={'index': 'station_name'}, inplace=True)

In [22]:
display(stations.head())
display(stations.tail())

            station_name  net_total
0         10th & E St NW    -3336.0
1  10th & Florida Ave NW      221.0
2         10th & G St NW    -5159.0
3         10th & H St NE     -465.0
4         10th & K St NW       35.0

                                          station_name  net_total
813                       Woodglen Dr & Executive Blvd       -7.0
814  Woodley Park Metro / Calvert St & Connecticut ...     5415.0
815                       Woodmont Ave & Strathmore St      474.0
816                              Woody Ward Rec Center       -4.0
817                         Yuma St & Tenley Circle NW     1360.0

In [23]:
# Drop duplicates to ensure one-to-one mapping for the merge
unique_stations = classic[['start_station_name', 'start_station_id', 'start_lat', 'start_lng']].drop_duplicates('start_station_name')

# Merge the unique stations with the 'stations' DataFrame based on the station name
stations = stations.merge(unique_stations, left_on='station_name', right_on='start_station_name', how='left')

# Now 'stations' has the additional columns merged based on matching station names
# Optionally, if you don't need the 'start_station_name' column anymore, you can drop it
# stations.drop('start_station_name', axis=1, inplace=True)

In [25]:
stations.drop('start_station_name', axis=1, inplace=True)

In [26]:
display(stations.sample(20))

,station_name,net_total,start_station_id,start_lat,start_lng
705,Spring St & 2nd Ave,81.0,32050.0,38.997653,-77.034499
10,10th St & Florida Ave NW,374.0,31120.0,38.920387,-77.025672
790,White Oak Rec Center,22.0,32087.0,39.046143,-76.975723
272,Braddock Rd Metro North,155.0,31047.0,38.814577,-77.052808
379,First and Fayette,0.0,31970.0,38.817019,-77.050105
665,Rosedale Rec Center,-73.0,31658.0,38.897808,-76.979634
637,Reston Pkwy & Bennington Woods Rd,4.0,32241.0,38.973625,-77.351837
320,Connecticut Ave & Macomb St NW / Cleveland Park,328.0,31305.0,38.933626,-77.057530
537,Motivate BX Tech office,-1.0,NaN,NaN,NaN
415,Good Hope & Naylor Rd SE,286.0,31700.0,38.860056,-76.967840
786,Wheaton Metro / Georgia Ave & Reedie Dr,108.0,32062.0,39.038424,-77.051020
773,Washington Blvd & 7th St N,365.0,31032.0,38.880810,-77.090792
106,19th & K St NW,-2412.0,31253.0,38.902204,-77.043370
312,Commerce St & Fayette St,-395.0,31045.0,38.805648,-77.052930
248,Arlington Blvd & N Queen St,119.0,31051.0,38.889365,-77.077294
328,Cordell & Norfolk Ave,267.0,32008.0,38.989540,-77.098029
435,Hyattsville Library / Adelphi Rd & Toledo Rd,5.0,32417.0,38.969800,-76.949300
471,Kingman Island/The Fields at RFK,-128.0,31716.0,38.895955,-76.967845
774,Washington Blvd & N Frederick St,19.0,31901.0,38.884829,-77.127671
51,14th & Otis Pl NW,6485.0,31131.0,38.934405,-77.032687

In [27]:
display(stations.isna().sum())

station_name        0
net_total           0
start_station_id    5
start_lat           5
start_lng           5
dtype: int64

In [45]:
# Create a DataFrame of unique end stations from 'classic'
unique_end_stations = classic[['end_station_name', 'end_station_id', 'end_lat', 'end_lng']].drop_duplicates('end_station_name')

# Merge with 'stations' DataFrame where the 'start_station_id' is NaN
nan_stations = stations[stations['start_station_id'].isna()]
updated_nan_stations = nan_stations.merge(unique_end_stations, left_on='station_name', right_on='end_station_name', how='left')

# Now, updated_nan_stations contains the rows with NaN filled in from the 'end' columns where possible
# Rename the columns to match the 'stations' DataFrame
updated_nan_stations.drop(['start_station_id','start_lat','start_lng'], axis=1, inplace=True)
updated_nan_stations.rename(columns={
    'end_station_id': 'start_station_id',
    'end_lat': 'start_lat',
    'end_lng': 'start_lng'
}, inplace=True)

# Drop the unwanted 'end_station_name' column
updated_nan_stations.drop('end_station_name', axis=1, inplace=True)

In [46]:
display(updated_nan_stations)

,station_name,net_total,start_station_id,start_lat,start_lng
0,10th & Rhode Island Ave NE,-1.0,31535.0,38.922489,-76.992670
1,Motivate BX Tech office,-1.0,32900.0,38.964406,-77.010759
2,Motivate Tech Office,-12.0,32902.0,0.000000,0.000000
3,V1 Warehouse Test Station,-8.0,32906.0,38.963633,-77.010255
4,Van Dorn Metro,-159.0,31932.0,38.800077,-77.129943

In [47]:
# Now, let's update the stations DataFrame
nan_mask = stations['start_station_id'].isna()
for column in ['start_station_id', 'start_lat', 'start_lng']:
    # Use 'station_name' to align the updated data correctly
    stations.loc[nan_mask, column] = stations.loc[nan_mask, 'station_name'].map(updated_nan_stations.set_index('station_name')[column])

In [48]:
display(stations.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 818 entries, 0 to 817
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   station_name      818 non-null    object
 1   net_total         818 non-null    float64
 2   start_station_id  818 non-null    object
 3   start_lat         818 non-null    float64
 4   start_lng         818 non-null    float64
dtypes: float64(3), object(2)
memory usage: 32.1+ KB

None