In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

sns.set_theme(style="darkgrid")

In [2]:
df = pd.read_csv('C:\\Asus WebStorage\\psabin@gmail.com\\MySyncFolder\\Data Science Course\\Used CSVs\\CSB_2021-2023_All.csv')
display(df.head())

C:\Users\psabi\AppData\Local\Temp\ipykernel_17484\999932228.py:1: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('C:\\Asus WebStorage\\psabin@gmail.com\\MySyncFolder\\Data Science Course\\Used CSVs\\CSB_2021-2023_All.csv')

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,5CB9DFCECF79AF84,classic_bike,2021-01-01 00:08:33,2021-01-01 00:33:53,Maine Ave & 9th St SW,31646.0,Rosslyn Metro / Wilson Blvd & Ft Myer Dr,31015.0,38.880440,-77.025236,38.894600,-77.072305,member
1,629E059504606547,electric_bike,2021-01-01 00:13:43,2021-01-01 00:29:34,10th & U St NW,31111.0,NaN,NaN,38.917193,-77.025894,38.960000,-77.020000,casual
2,E74069873161EE33,electric_bike,2021-01-01 00:14:32,2021-01-01 00:28:45,17th & Corcoran St NW,31214.0,14th & Belmont St NW,31119.0,38.912138,-77.038568,38.920870,-77.031691,member
3,91F95E512CABC46A,classic_bike,2021-01-01 00:15:45,2021-01-01 00:21:20,Wilson Blvd. & N. Vermont St.,31926.0,Wilson Blvd. & N. Vermont St.,31926.0,38.879477,-77.114563,38.879477,-77.114563,member
4,DA46A05139C0EA2F,classic_bike,2021-01-01 00:17:46,2021-01-01 00:21:00,11th & Park Rd NW,31651.0,14th & Newton St NW,31649.0,38.931322,-77.028247,38.931991,-77.032956,member

In [3]:
df['started_at'] = pd.to_datetime(df['started_at'])
df['ended_at'] = pd.to_datetime(df['ended_at'])
display(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8180626 entries, 0 to 8180625
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 811.4+ MB

None

In [4]:
display(df['rideable_type'].value_counts())

rideable_type
classic_bike     6157609
electric_bike    1521056
docked_bike       501961
Name: count, dtype: int64

In [5]:
docked_bike_mask = df['rideable_type'] == 'docked_bike'

In [62]:
display(df.sample(5))

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
375955,DF95F48364489469,docked_bike,2021-04-04 15:22:45,2021-04-04 15:44:51,6th St & Indiana Ave NW,31264.0,Independence Ave & L'Enfant Plaza SW/DOE,31633.0,38.894573,-77.019940,38.887312,-77.025762,casual
872931,4FFC5AF7DAF1A95B,electric_bike,2021-06-06 21:28:58,2021-06-06 21:39:58,NaN,NaN,NaN,NaN,38.930000,-77.030000,38.910000,-77.010000,member
5851752,C06166492223818A,classic_bike,2022-11-05 18:31:24,2022-11-05 18:33:49,Thomas Circle,31241.0,17th St & Massachusetts Ave NW,31267.0,38.905900,-77.032500,38.908142,-77.038359,member
7641242,4466D1B2021E194F,electric_bike,2023-05-24 09:56:44,2023-05-24 10:05:59,NaN,NaN,23rd & M St NW,31128.0,38.930000,-77.040000,38.905303,-77.050264,casual
272498,6B60017C8232DC8C,classic_bike,2021-03-20 15:28:22,2021-03-20 15:46:38,Lincoln Memorial,31258.0,Smithsonian-National Mall / Jefferson Dr & 12t...,31248.0,38.888255,-77.049436,38.888774,-77.028694,member

In [7]:
display(df[docked_bike_mask]['member_casual'].value_counts())

member_casual
casual    501957
member         4
Name: count, dtype: int64

In [9]:
classic_mask = df['rideable_type'] == 'classic_bike'
classic = df[classic_mask].copy()
display(classic.info())

<class 'pandas.core.frame.DataFrame'>
Index: 6157609 entries, 0 to 8180625
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 657.7+ MB

None

In [10]:
classic.drop(['rideable_type'], axis=1, inplace=True)
display(classic.head())

,ride_id,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,5CB9DFCECF79AF84,2021-01-01 00:08:33,2021-01-01 00:33:53,Maine Ave & 9th St SW,31646.0,Rosslyn Metro / Wilson Blvd & Ft Myer Dr,31015.0,38.880440,-77.025236,38.894600,-77.072305,member
3,91F95E512CABC46A,2021-01-01 00:15:45,2021-01-01 00:21:20,Wilson Blvd. & N. Vermont St.,31926.0,Wilson Blvd. & N. Vermont St.,31926.0,38.879477,-77.114563,38.879477,-77.114563,member
4,DA46A05139C0EA2F,2021-01-01 00:17:46,2021-01-01 00:21:00,11th & Park Rd NW,31651.0,14th & Newton St NW,31649.0,38.931322,-77.028247,38.931991,-77.032956,member
6,0535306B61EF92F9,2021-01-01 00:19:06,2021-01-01 00:36:28,Bladensburg Rd & Benning Rd NE,31617.0,Good Hope Rd & MLK Ave SE,31802.0,38.900413,-76.982872,38.867373,-76.988039,casual
9,874D92427D41BC30,2021-01-01 00:21:39,2021-01-01 00:31:07,14th & Otis Pl NW,31131.0,14th & R St NW,31202.0,38.934405,-77.032687,38.913046,-77.032008,member

In [11]:
electric_bike_mask = df['rideable_type'] == 'electric_bike'
station_value_counts_electic = df[electric_bike_mask]['start_station_id'].value_counts()

In [12]:
endstation_value_counts_electric = df[electric_bike_mask]['end_station_id'].value_counts()

In [ ]:
classic['weekend'] = classic['started_at'].dt.dayofweek >= 5

In [16]:
# Assuming 'start_time' is your datetime column:
classic['morning'] = classic['started_at'].dt.hour.between(1, 13)

In [ ]:
display(classic.sample(20))

In [19]:
endstation_value_counts = classic['end_station_name'].value_counts()
display(endstation_value_counts.head(50))

end_station_name
New Hampshire Ave & T St NW                              72098
15th & P St NW                                           68783
Columbus Circle / Union Station                          66962
1st & M St NE                                            60135
Lincoln Memorial                                         53400
Massachusetts Ave & Dupont Circle NW                     53196
5th & K St NW                                            53147
14th & V St NW                                           51468
Jefferson Dr & 14th St SW                                50654
4th St & Madison Dr NW                                   50056
Eastern Market Metro / Pennsylvania Ave & 8th St SE      49880
14th & R St NW                                           47207
8th & O St NW                                            46682
17th & Corcoran St NW                                    45917
Smithsonian-National Mall / Jefferson Dr & 12th St SW    44749
15th & W St NW                                           44600
11th & M St NW                                           44596
Henry Bacon Dr & Lincoln Memorial Circle NW              44070
4th & M St SW                                            42859
6th & H St NE                                            42710
3rd & M St NE                                            41464
New Hampshire Ave & Ward Pl NW                           41375
23rd & M St NW                                           40222
Thomas Circle                                            39979
14th & Rhode Island Ave NW                               39247
8th & H St NW                                            37919
7th & F St NW / National Portrait Gallery                37715
M St & Pennsylvania Ave NW                               37419
5th St & Massachusetts Ave NW                            35930
18th & New Hampshire Ave NW                              35577
7th & K St NW                                            35214
New Jersey Ave & F St NW                                 34701
California St & Florida Ave NW                           34683
Maine Ave & 7th St SW                                    33829
Maine Ave & 9th St SW                                    33400
Jefferson Memorial                                       32834
17th St & Massachusetts Ave NW                           32599
Metro Center / 12th & G St NW                            32298
15th St & Constitution Ave NW                            32243
18th St & Wyoming Ave NW                                 31943
25th St & Pennsylvania Ave NW                            31922
3rd & H St NE                                            31801
20th & O St NW / Dupont South                            31790
17th & K St NW                                           31521
18th & R St NW                                           31231
1st & K St NE                                            30822
New Hampshire Ave & 24th St NW                           30773
22nd & I St NW / Foggy Bottom                            30771
Eckington Pl & Q St NE                                   30666
21st & I St NW                                           30567
Name: count, dtype: int64

In [20]:
# Count the start stations
startstation_value_counts = classic['start_station_name'].value_counts()

# Count the end stations (already done in your case)
endstation_value_counts = classic['end_station_name'].value_counts()

# Calculate the net total for each station
# Subtracting the Series will align on the index automatically
net_total = startstation_value_counts.subtract(endstation_value_counts, fill_value=0)

# net_total now contains the net total for each station.
# If a station name doesn't exist in one of the Series, it assumes a count of 0 for subtraction
display(net_total.head(20))

10th & E St NW                             -3336.0
10th & Florida Ave NW                        221.0
10th & G St NW                             -5159.0
10th & H St NE                              -465.0
10th & K St NW                                35.0
10th & Monroe St NE                         1289.0
10th & Quincy St NE / Turkey Thicket Rec      -6.0
10th & Rhode Island Ave NE                    -1.0
10th & U St NW                                25.0
10th St & Constitution Ave NW              -2699.0
10th St & Florida Ave NW                     374.0
10th St & L'Enfant Plaza SW                 -477.0
10th St & Rhode Island Ave NE                  9.0
10th St & Spring Rd NW                       220.0
11th & C St SE                               126.0
11th & Clifton St NW                        1219.0
11th & F St NW                             -2508.0
11th & Girard St NW                         4482.0
11th & H St NE                               -63.0
11th & Kenyon St NW                         9310.0
Name: count, dtype: float64

In [21]:
# Convert the net_total Series to a DataFrame and name the column 'net_total'
stations = net_total.to_frame(name='net_total')

# Transform station names from the index to a column
stations.reset_index(inplace=True)

# Rename the 'index' column to 'station_name' for clarity
stations.rename(columns={'index': 'station_name'}, inplace=True)

In [23]:
# Drop duplicates to ensure one-to-one mapping for the merge
unique_stations = classic[['start_station_name', 'start_station_id', 'start_lat', 'start_lng']].drop_duplicates('start_station_name')

# Merge the unique stations with the 'stations' DataFrame based on the station name
stations = stations.merge(unique_stations, left_on='station_name', right_on='start_station_name', how='left')

# Now 'stations' has the additional columns merged based on matching station names
# Optionally, if you don't need the 'start_station_name' column anymore, you can drop it
# stations.drop('start_station_name', axis=1, inplace=True)

In [25]:
stations.drop('start_station_name', axis=1, inplace=True)

In [27]:
display(stations.isna().sum())

station_name        0
net_total           0
start_station_id    5
start_lat           5
start_lng           5
dtype: int64

In [45]:
# Create a DataFrame of unique end stations from 'classic'
unique_end_stations = classic[['end_station_name', 'end_station_id', 'end_lat', 'end_lng']].drop_duplicates('end_station_name')

# Merge with 'stations' DataFrame where the 'start_station_id' is NaN
nan_stations = stations[stations['start_station_id'].isna()]
updated_nan_stations = nan_stations.merge(unique_end_stations, left_on='station_name', right_on='end_station_name', how='left')

# Now, updated_nan_stations contains the rows with NaN filled in from the 'end' columns where possible
# Rename the columns to match the 'stations' DataFrame
updated_nan_stations.drop(['start_station_id','start_lat','start_lng'], axis=1, inplace=True)
updated_nan_stations.rename(columns={
    'end_station_id': 'start_station_id',
    'end_lat': 'start_lat',
    'end_lng': 'start_lng'
}, inplace=True)

# Drop the unwanted 'end_station_name' column
updated_nan_stations.drop('end_station_name', axis=1, inplace=True)

In [47]:
# Now, let's update the stations DataFrame
nan_mask = stations['start_station_id'].isna()
for column in ['start_station_id', 'start_lat', 'start_lng']:
    # Use 'station_name' to align the updated data correctly
    stations.loc[nan_mask, column] = stations.loc[nan_mask, 'station_name'].map(updated_nan_stations.set_index('station_name')[column])

In [52]:
display(endstation_value_counts.head())

end_station_name
New Hampshire Ave & T St NW        72098
15th & P St NW                     68783
Columbus Circle / Union Station    66962
1st & M St NE                      60135
Lincoln Memorial                   53400
Name: count, dtype: int64

In [59]:
# Ensure the index of the Series is named 'station_name'
startstation_value_counts.index.name = 'station_name'
endstation_value_counts.index.name = 'station_name'

# Convert the Series to a DataFrame
start_counts_df = startstation_value_counts.reset_index().rename(columns={startstation_value_counts.name: 'start_count'})
end_counts_df = endstation_value_counts.reset_index().rename(columns={endstation_value_counts.name: 'end_count'})

# Merge with the 'stations' DataFrame on 'station_name'
stations = stations.merge(start_counts_df, on='station_name', how='left')
stations = stations.merge(end_counts_df, on='station_name', how='left')

In [60]:
display(stations.sample(15))

,station_name,net_total,start_station_id,start_lat,start_lng,start_count,end_count
440,Jefferson Memorial,-904.0,31249.0,38.879819,-77.037413,31930.0,32834.0
695,Smithsonian-National Mall / Jefferson Dr & 12t...,-2756.0,31248.0,38.888774,-77.028694,41993.0,44749.0
208,7th & K St NW,-2630.0,31653.0,38.902674,-77.021392,32584.0,35214.0
385,Fort Stanton Rec Center,49.0,31825.0,38.857369,-76.977688,158.0,109.0
600,Old Georgetown Rd & Southwick St,361.0,32039.0,38.999634,-77.109647,2358.0,1997.0
224,8th Rd & S Frederick St,50.0,31951.0,38.857049,-77.116339,274.0,224.0
164,3rd & D St SE,217.0,31605.0,38.885100,-77.002300,16206.0,15989.0
604,Park Rd & Holmead Pl NW,8428.0,31602.0,38.930800,-77.031500,21308.0,12880.0
584,Norfolk Ave & Fairmont St,220.0,32000.0,38.988562,-77.096539,1746.0,1526.0
317,Congressional Ln & E Jefferson St,6.0,32081.0,39.062190,-77.129235,709.0,703.0
645,Rhode Island & Montana Ave NE,516.0,31526.0,38.924300,-76.985900,1886.0,1370.0
630,Prince St & Union St,-1827.0,31041.0,38.803124,-77.040363,5175.0,7002.0
535,Montgomery Ave & Waverly St,338.0,32003.0,38.983838,-77.092210,1038.0,700.0
672,S Four Mile Run Dr & Shirlington Rd,-10.0,31057.0,38.844400,-77.085931,366.0,376.0
42,14th & D St NW / Ronald Reagan Building,-3569.0,31231.0,38.894514,-77.031617,14092.0,17661.0

In [61]:
stations['start_count'].fillna(0, inplace=True)
stations['end_count'].fillna(0, inplace=True)

In [63]:
display(classic.sample(5))

,ride_id,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,weekend,morning
4623430,018549E222738F66,2022-07-26 12:09:56,2022-07-26 12:14:04,17th & Corcoran St NW,31214.0,17th & Corcoran St NW,31214.0,38.912100,-77.038700,38.912100,-77.038700,member,False,True
7792328,CD5E67526D078661,2023-06-03 17:32:40,2023-06-03 17:35:05,Eastern Market Metro / Pennsylvania Ave & 8th ...,31613.0,Eastern Market / 7th & North Carolina Ave SE,31610.0,38.884095,-76.995234,38.886952,-76.996806,member,True,False
2510927,E24027E8316B5DA5,2021-11-22 11:18:05,2021-11-22 11:25:23,17th & K St NW,31213.0,5th & K St NW,31600.0,38.902760,-77.038630,38.903040,-77.019027,member,False,True
1699856,9E421CDFFA05F566,2021-09-03 13:32:55,2021-09-03 13:41:21,15th & East Capitol St NE,31630.0,4th & East Capitol St NE,31618.0,38.889908,-76.983326,38.889955,-77.000349,casual,False,True
4642112,3BF4B8E0E3CA517C,2022-07-27 19:15:31,2022-07-27 19:31:43,8th & O St NW,31281.0,13th & U St NW,31132.0,38.908640,-77.022770,38.916936,-77.029631,casual,False,False

In [70]:
# Filter for AM: 'weekend' is False and 'morning' is True
am_filter = (classic['weekend'] == False) & (classic['morning'] == True)
# Filter for PM: 'weekend' is False and 'morning' is False
pm_filter = (classic['weekend'] == False) & (classic['morning'] == False)

# Count the start stations for AM and PM
weekday_am_startstation_value_counts = classic.loc[am_filter, 'start_station_name'].value_counts()
weekday_pm_startstation_value_counts = classic.loc[pm_filter, 'start_station_name'].value_counts()

# Count the end stations for AM and PM
weekday_am_endstation_value_counts = classic.loc[am_filter, 'end_station_name'].value_counts()
weekday_pm_endstation_value_counts = classic.loc[pm_filter, 'end_station_name'].value_counts()

# Calculate the net total for each station for AM and PM
weekday_am_net = weekday_am_startstation_value_counts.subtract(weekday_am_endstation_value_counts, fill_value=0)
weekday_pm_net = weekday_pm_startstation_value_counts.subtract(weekday_pm_endstation_value_counts, fill_value=0)

In [66]:
display(weekday_am_net.head())

10th & E St NW          -1134.0
10th & Florida Ave NW     321.0
10th & G St NW          -1314.0
10th & H St NE            282.0
10th & K St NW            474.0
Name: count, dtype: float64

In [76]:
# Ensure the index of the Series is named 'station_name'
weekday_am_net.index.name = 'station_name'
weekday_pm_net.index.name = 'station_name'

# Convert the Series to a DataFrame
weekday_am_df = weekday_am_net.reset_index().rename(columns={weekday_am_net.name: 'weekday_am_net'})
weekday_pm_df = weekday_pm_net.reset_index().rename(columns={weekday_pm_net.name: 'weekday_pm_net'})

# Merge with the 'stations' DataFrame on 'station_name'
stations = stations.merge(weekday_am_df, on='station_name', how='left')
stations = stations.merge(weekday_pm_df, on='station_name', how='left')

In [77]:
display(stations.sample(5))

,station_name,net_total,start_station_id,start_lat,start_lng,start_count,end_count,weekday_am_net,weekday_pm_net
51,14th & Otis Pl NW,6485.0,31131.0,38.934405,-77.032687,16794.0,10309.0,4028.0,827.0
689,Shady Grove Metro East,43.0,32067.0,39.121327,-77.164969,293.0,250.0,-136.0,157.0
570,New Hampshire & Kirklynn Ave,-43.0,32061.0,38.988101,-76.988422,244.0,287.0,-10.0,-19.0
599,Oklahoma Ave & D St NE,-380.0,31712.0,38.894474,-76.974828,6800.0,7180.0,1445.0,-1872.0
541,Mount Vernon Ave & E Nelson Ave,12.0,31085.0,38.820064,-77.057619,2795.0,2783.0,677.0,-690.0

In [78]:
# Filter for AM: 'weekend' is False and 'morning' is True
fun_am_filter = (classic['weekend'] == True) & (classic['morning'] == True)
# Filter for PM: 'weekend' is False and 'morning' is False
fun_pm_filter = (classic['weekend'] == True) & (classic['morning'] == False)

# Count the start stations for AM and PM
fun_am_startstation_value_counts = classic.loc[fun_am_filter, 'start_station_name'].value_counts()
fun_pm_startstation_value_counts = classic.loc[fun_pm_filter, 'start_station_name'].value_counts()

# Count the end stations for AM and PM
fun_am_endstation_value_counts = classic.loc[fun_am_filter, 'end_station_name'].value_counts()
fun_pm_endstation_value_counts = classic.loc[fun_pm_filter, 'end_station_name'].value_counts()

# Calculate the net total for each station for AM and PM
fun_am_net = fun_am_startstation_value_counts.subtract(fun_am_endstation_value_counts, fill_value=0)
fun_pm_net = fun_pm_startstation_value_counts.subtract(fun_pm_endstation_value_counts, fill_value=0)

In [79]:
# Ensure the index of the Series is named 'station_name'
fun_am_net.index.name = 'station_name'
fun_pm_net.index.name = 'station_name'

# Convert the Series to a DataFrame
fun_am_df = fun_am_net.reset_index().rename(columns={fun_am_net.name: 'fun_am_net'})
fun_pm_df = fun_pm_net.reset_index().rename(columns={fun_pm_net.name: 'fun_pm_net'})

# Merge with the 'stations' DataFrame on 'station_name'
stations = stations.merge(fun_am_df, on='station_name', how='left')
stations = stations.merge(fun_pm_df, on='station_name', how='left')

In [81]:
print(stations.columns)

Index(['station_name', 'net_total', 'start_station_id', 'start_lat',
       'start_lng', 'start_count', 'end_count', 'weekday_am_net',
       'weekday_pm_net', 'fun_am_net', 'fun_pm_net'],
      dtype='object')

In [ ]:
stations = stations.reindex(columns=['station_name','start_count', 'end_count', 'net_total', 'weekday_am_net',
       'weekday_pm_net', 'fun_am_net', 'fun_pm_net', 'start_station_id', 'start_lat',
       'start_lng'])
display(stations.sample(5))

In [87]:
stations['weekday_am_net'] = stations['weekday_am_net'] * -1
stations['weekday_pm_net'] = stations['weekday_pm_net'] * -1
stations['fun_am_net'] = stations['fun_am_net'] * -1
stations['fun_pm_net'] = stations['fun_pm_net'] * -1

In [88]:
stations['net_total'] = stations['net_total'] * -1

In [93]:
stations = stations.fillna(0)

In [89]:
copy_stations = stations.copy()

In [90]:
display(stations.sample(10))

,station_name,start_count,end_count,net_total,weekday_am_net,weekday_pm_net,fun_am_net,fun_pm_net,start_station_id,start_lat,start_lng
67,15th & Harvard St NW,3482.0,2518.0,-964.0,-576.0,-127.0,-194.0,-67.0,31103.0,38.926124,-77.035421
752,Veterans Pl & Pershing Dr,922.0,882.0,-40.0,-80.0,2.0,43.0,-5.0,32043.0,38.997445,-77.023894
656,River Rd & Landy Ln,3860.0,4090.0,230.0,-62.0,426.0,-115.0,-19.0,32046.0,38.964992,-77.103381
422,Greenbelt Station Parkway,700.0,698.0,-2.0,-4.0,-8.0,-9.0,19.0,32426.0,39.002459,-76.916243
236,Anacostia Ave & East Capitol St NE,385.0,398.0,13.0,-88.0,107.0,-24.0,18.0,31721.0,38.890461,-76.961280
413,Glebe Rd & 11th St N,2387.0,2062.0,-325.0,374.0,-599.0,-57.0,-43.0,31038.0,38.883921,-77.116817
544,Mt Vernon Trail & S. Washington St.,4765.0,4714.0,-51.0,-718.0,644.0,-19.0,42.0,31929.0,38.793065,-77.049436
418,Grandview & Blueridge Ave,369.0,356.0,-13.0,-155.0,150.0,-77.0,69.0,32065.0,39.043272,-77.053085
363,Executive Blvd & E Jefferson St,594.0,732.0,138.0,454.0,-311.0,-9.0,4.0,32079.0,39.048730,-77.125700
461,King Farm Blvd & Piccard Dr,475.0,468.0,-7.0,-4.0,-1.0,-22.0,20.0,32038.0,39.110314,-77.182669

In [91]:
display(stations.describe())

,start_count,end_count,net_total,weekday_am_net,weekday_pm_net,fun_am_net,fun_pm_net,start_lat,start_lng
count,818.000000,818.000000,818.000000,813.000000,816.000000,809.000000,808.000000,818.000000,818.000000
mean,7527.639364,7506.815403,-20.823961,-5.555966,-8.055147,-3.224969,-4.127475,38.862490,-76.972713
std,11249.576289,11503.753886,1518.887457,2044.480912,1573.527403,545.358839,365.056886,1.361834,2.696143
min,0.000000,0.000000,-9601.000000,-8397.000000,-7229.000000,-2029.000000,-3618.000000,0.000000,-77.368416
25%,470.000000,462.500000,-205.250000,-371.000000,-143.500000,-100.000000,-40.250000,38.877863,-77.094861
50%,2218.000000,2068.000000,-5.500000,-19.000000,4.000000,-8.000000,1.500000,38.899957,-77.045064
75%,10396.250000,9856.000000,119.000000,71.000000,208.500000,16.000000,52.250000,38.932856,-77.011933
max,72868.000000,72098.000000,7480.000000,10130.000000,8156.000000,3493.000000,1634.000000,39.125828,0.000000

In [95]:
display(stations.sort_values('net_total').head(20))

,station_name,start_count,end_count,net_total,weekday_am_net,weekday_pm_net,fun_am_net,fun_pm_net,start_station_id,start_lat,start_lng
296,Columbia & Ontario Rd NW,28375.0,18774.0,-9601.0,-5587.0,-1419.0,-1672.0,-923.0,31296.0,38.924088,-77.040787
19,11th & Kenyon St NW,24474.0,15164.0,-9310.0,-5286.0,-1291.0,-1944.0,-789.0,31102.0,38.929464,-77.027822
604,Park Rd & Holmead Pl NW,21308.0,12880.0,-8428.0,-3870.0,-2093.0,-1427.0,-1038.0,31602.0,38.930800,-77.031500
47,14th & Irving St NW,32150.0,23959.0,-8191.0,-3128.0,-2882.0,-1036.0,-1145.0,31124.0,38.928552,-77.032224
308,Columbia Rd & Georgia Ave NW,16219.0,9551.0,-6668.0,-3933.0,-1148.0,-1090.0,-497.0,31115.0,38.928121,-77.023795
127,20th & Columbia Rd NW,18926.0,12301.0,-6625.0,-4629.0,-76.0,-1549.0,-371.0,31133.0,38.918036,-77.045487
51,14th & Otis Pl NW,16794.0,10309.0,-6485.0,-4028.0,-827.0,-1163.0,-467.0,31131.0,38.934405,-77.032687
307,Columbia Rd & Belmont St NW,19434.0,13051.0,-6383.0,-4492.0,114.0,-1373.0,-632.0,31113.0,38.920669,-77.043680
814,Woodley Park Metro / Calvert St & Connecticut ...,19783.0,14368.0,-5415.0,-1826.0,-1865.0,-853.0,-871.0,31323.0,38.923389,-77.051833
78,16th & Harvard St NW,12813.0,7571.0,-5242.0,-2611.0,-1197.0,-918.0,-516.0,31103.0,38.926088,-77.036536
50,14th & Newton St NW,16233.0,11163.0,-5070.0,-3271.0,-559.0,-843.0,-397.0,31649.0,38.931991,-77.032956
280,Calvert & Biltmore St NW,10738.0,5675.0,-5063.0,-2897.0,-523.0,-1160.0,-483.0,31106.0,38.923203,-77.047637
101,18th St & Wyoming Ave NW,36718.0,31943.0,-4775.0,-4983.0,2275.0,-1372.0,-695.0,31114.0,38.918809,-77.041571
22,11th & Park Rd NW,17465.0,12831.0,-4634.0,-3117.0,-43.0,-1036.0,-438.0,31651.0,38.931322,-77.028247
229,Adams Mill & Columbia Rd NW,32641.0,28140.0,-4501.0,-3242.0,387.0,-1004.0,-642.0,31104.0,38.922925,-77.042581
17,11th & Girard St NW,21449.0,16967.0,-4482.0,-4118.0,1018.0,-1390.0,8.0,31126.0,38.925636,-77.027112
45,14th & Girard St NW,13335.0,8958.0,-4377.0,-3016.0,-292.0,-1054.0,-15.0,31123.0,38.925284,-77.032375
726,Thomas Circle,44250.0,39979.0,-4271.0,-4761.0,1897.0,-2029.0,622.0,31241.0,38.905900,-77.032500
474,Lamont & Mt Pleasant NW,22202.0,18119.0,-4083.0,-3969.0,860.0,-1044.0,70.0,31107.0,38.931900,-77.038800
79,16th & Irving St NW,15237.0,11155.0,-4082.0,-2515.0,-484.0,-1005.0,-78.0,31122.0,38.928893,-77.036250

In [96]:
# Calculate the 'unbalanced' column as described
stations['unbalanced'] = np.where(
    (stations['start_count'] + stations['end_count']) != 0,  # avoid division by zero
    stations['net_total'] / (stations['start_count'] + stations['end_count']),
    0  # set unbalanced to 0 if there's no start or end count
)

# Now your 'stations' DataFrame will have the 'unbalanced' column with the calculated ratio.

In [98]:
# Calculate the 'unbalanced' column as described
stations['bike_add_ratio'] = np.where(
    (stations['start_count'] + stations['end_count']) != 0,  # avoid division by zero
    stations['end_count'] / (stations['start_count'] + stations['end_count']),
    0  # set unbalanced to 0 if there's no start or end count
)

In [100]:
stations.drop('unbalanced', axis=1, inplace=True)

In [102]:
display(stations.sort_values('bike_add_ratio').head(10))
display(stations.sort_values('bike_add_ratio').tail(10))

,station_name,start_count,end_count,net_total,weekday_am_net,weekday_pm_net,fun_am_net,fun_pm_net,start_station_id,start_lat,start_lng,bike_add_ratio
445,Jones Branch Dr & Blyton St,1.0,0.0,-1.0,0.0,-1.0,0.0,0.0,32269.0,38.926973,-77.217376,0.000000
780,Westbranch Dr & Jones Branch Dr,1.0,0.0,-1.0,0.0,-1.0,0.0,0.0,32270.0,38.931089,-77.220729,0.000000
367,Fairfax Village,359.0,111.0,-248.0,-70.0,-72.0,-73.0,-33.0,31706.0,38.865590,-76.952103,0.236170
415,Good Hope & Naylor Rd SE,470.0,184.0,-286.0,-119.0,-88.0,-41.0,-38.0,31700.0,38.860056,-76.967840,0.281346
817,Yuma St & Tenley Circle NW,2263.0,903.0,-1360.0,-253.0,-867.0,-96.0,-144.0,31316.0,38.946182,-77.080590,0.285218
195,53rd & D St SE/C.W. Harris Elementary,264.0,108.0,-156.0,-42.0,-89.0,-11.0,-14.0,31671.0,38.883318,-76.925315,0.290323
812,Wisconsin Ave & Rodman St NW,2594.0,1101.0,-1493.0,-640.0,-421.0,-216.0,-216.0,31333.0,38.939674,-77.075277,0.297970
647,Rhode Island Ave & V St NE,4830.0,2151.0,-2679.0,-1526.0,-405.0,-501.0,-247.0,31513.0,38.918155,-77.004746,0.308122
156,31st St & S Woodrow St,595.0,272.0,-323.0,-141.0,-98.0,-52.0,-32.0,31072.0,38.837666,-77.094820,0.313725
602,Oxon Hill Park & Ride,303.0,147.0,-156.0,-21.0,-100.0,-14.0,-21.0,32407.0,38.798749,-77.001030,0.326667

,station_name,start_count,end_count,net_total,weekday_am_net,weekday_pm_net,fun_am_net,fun_pm_net,start_station_id,start_lat,start_lng,bike_add_ratio
719,Takoma Park Rec Center,212.0,353.0,141.0,4.0,137.0,-0.0,-0.0,32059.0,38.982650,-76.988311,0.624779
707,St. Asaph & Montgomery St,15.0,25.0,10.0,5.0,5.0,1.0,-1.0,31931.0,38.814185,-77.043809,0.625000
725,The Shoppes @ Burnt Mills,137.0,283.0,146.0,34.0,71.0,11.0,30.0,32085.0,39.031314,-77.004122,0.673810
201,6035 Warehouse,73.0,186.0,113.0,119.0,-28.0,17.0,5.0,32901.0,38.963810,-77.010266,0.718147
549,N Moore St & Rosslyn Metro,1.0,6.0,5.0,0.0,5.0,0.0,0.0,31947.0,38.896087,-77.071452,0.857143
745,V1 Warehouse Test Station,0.0,8.0,8.0,3.0,5.0,0.0,0.0,32906.0,38.963633,-77.010255,1.000000
748,Van Dorn Metro,0.0,159.0,159.0,43.0,86.0,13.0,17.0,31932.0,38.800077,-77.129943,1.000000
537,Motivate BX Tech office,0.0,1.0,1.0,1.0,0.0,0.0,0.0,32900.0,38.964406,-77.010759,1.000000
538,Motivate Tech Office,0.0,12.0,12.0,4.0,8.0,0.0,0.0,32902.0,0.000000,0.000000,1.000000
7,10th & Rhode Island Ave NE,0.0,1.0,1.0,0.0,1.0,0.0,0.0,31535.0,38.922489,-76.992670,1.000000